.scrollup {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: .8;
    padding: .3rem .5rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup__icon {
    font-size: 1.5rem;
    color: var(--container-color);
}
.scrollup__icon:hover {
    background-color: var(--title-color-dark);
}
.show-scroll {
    bottom: 3rem;
}

/***** breakpoints *****/
@media screen and (max-width: 62rem) {
    .scrollup {
        right: 1.5rem;
        padding: .25rem .4rem;
    }
    .scrollup__icon {
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 48rem) {
    .scrollup {
        bottom: 4rem;
    }
}
@media screen and (max-width: 22rem) {
    .scrollup {
        right: 1rem;
    }
}
